stages:
  - test
  - report

test:
  stage: test
  allow_failure: true

  script:
    - mvn clean verify

  artifacts:
    when: always
    name: "Serenity Report"
    paths:
      - target/site/serenity/

pages:
  stage: report
  script:
    - mv target/site/serenity/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days